.btn:hover, .btn:focus, .btn.focus{
	color: #fff;
	outline: 0;
}
.container{
	width: 775px;
}
/*------------图标--------------*/
.iconTest{background:url(../images/iconTest.png)  no-repeat;}
.wrong{    
	height: 20px;
    width: 17px;
    background-position: 0 0;
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
}
.right{
    height: 20px;
    width: 25px;
    background-position: -31px 0;
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
}
.refresh{
	height:25px;
	width:28px;
	background-position:-68px 0;
    display: inline-block;
    margin-left: 10px;
    vertical-align: text-top;
	-webkit-animation: refreshRotate 1s linear infinite; /*infinite无限循环的效果*/
}
@-webkit-keyframes refreshRotate{
	0% {
        -webkit-transform: rotateZ(0deg);
        }
    100% {
        -webkit-transform: rotateZ(360deg);
        }
}
.chrome{height:40px;width:40px;background-position:-110px 0;}
.microphone{height:40px;width:40px;background-position:-165px 0;}
.mac{
	height:60px;
	width:60px;
	background-position:-216px 0;
	margin: 0 auto;
}
.window{
	height:60px;
	width:60px;
	background-position:-290px 0;
	margin: 0 auto;
}

.title24{
	text-align: center;
	font-size: 24px;
	color: #1eb59b;
	margin-top: 100px;
	margin-bottom: 85px;
}
.result{
	margin-bottom: 24px;
	list-style: none;
	color: #333;
}
.result li{
	float: left;
}
.result li.r-right{
    line-height: 40px;
    padding: 0 18px;
    font-size: 18px;
}
.result01{
	font-size: 16px;
}
/*------------系统浏览器下载------------*/
ul.platform{
	list-style: none;
	margin-top: 20px;
	text-align: center;
}
ul.platform li{
	float: left;
	margin-right: 80px;
}
ul.platform:after{
	content: "";
	display: block; 
	clear: both;
}
/*------------下载按钮------------*/
.btn-down {
    color: #fff;
    background-color: #10b89d;
    border-color: #00a28a;
    border-radius: 10px;
    padding: 5.5px 19px;
    font-size: 18px;
    margin-left: 5px;
}
.btn-down:hover{
	color: #fff;
	background-color: #11b298;
}
.clearfix:after {
	display: block;
	content: "";
	height: 0;
	clear: both;
}
.ab-look{
	color: #1eb59b;
	text-decoration: none;
	cursor: pointer;
	margin-left: 10px;
	font-size: 14px;
	outline: 0;
}
a.ab-look:hover, a.ab-look:focus {
    color: #1eb59b;
    outline: 0;
    text-decoration: none;
}
/*testing2所用样式*/
.micro{
	display: none;
}
.rr-right {
	padding: 0 18px;
	/*width: 644px;*/
	line-height: 40px;
    font-size: 18px;
}
.start {
	display: inline-block;
	margin: 0 16px;
	width: 78px;
	height: 22px;
	line-height: 20px;
	color: #fff;
    font-size: 14px;2
    border: 1px solid #16a18c;
    border-radius: 4px;
	background-color: #24b79d;
	text-align: center;
   
}
a.start:hover, a.start:focus{
	color: #fff;
    text-decoration: none;
}
.rrr-right {
	padding-left:56px;
	/*width: 644px;*/
	line-height: 46px;
	font-size:16px;
}
.speakContent {
	margin-left: 56px;
    width: 700px;
    height: 81px;
    background-color: #f6f6f7;
    text-align: center;
}
.mirophone {
    display: inline-block;
    width: 420px;
    vertical-align: middle;
}
.mirophone .mirophoneEnTips {
    color: #000;
    font-size: 26px;
    font-weight: 600;
    font-family: arial;
}
.mirophone li {
    display: inline-block;
    margin-bottom: 8px;
}
.mirophone .mirophoneOption {
    width: 145px;
    height: 28px;
    margin: 6px 0 0 5px;
}
.mirophone li {
    display: inline-block;
    margin-bottom: 3px;
}
.mirophone .mirophoneChTips {
    position: relative;
    width: 425px;
    height: 26px;
    color: red;
    border: 1px solid #c3c0b9;
}
.lightBlue {
    opacity: .2;
}
.record-volume-bar {
    height: 100%;
    width: 0;
    background: #026aae;
}
.mirophone .mirophoneChTips{
	color: #E94A3C;
}
.mirophone .mirophoneChTips .microphoneTip {
    position: absolute;
    left: 3px;
    top: 1px;
    font-size: 17px;
}
.controlButton {
    display: inline-block;
    width: 250px;
    vertical-align: middle;
}
.controlButton .butBig {
    width: 132px;
    height: 26px;
}
.controlButton li {
    display: inline-block;
    margin: 0 0 7px 20px;
    font-size: 17px;
    font-weight: 500;
    text-align: center;
    color: #000;
    border: 1px solid #5b5b5b;
    background: #cfcbc7;
    cursor: pointer;
}
.controlButton .butInvalid {
    color: #aeaaa6;
    background: #edecea;
    border: 1px solid #afafaf;
}
.controlButton .butSmall {
    width: 69px;
    height: 26px;
}