.container{
	width: 750px;
}
/*------------图标--------------*/
.iconTest{background:url(../images/iconTest.png)  no-repeat;}
.wrong{    
	height: 20px;
    width: 17px;
    background-position: 0 0;
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
}
.right{
	height:17px;
	width:25px;
	background-position:-31px 0;
	display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
}
.refresh{height:25px;width:28px;background-position:-68px 0;}
.chrome{height:40px;width:40px;background-position:-110px 0;}
.microphone{height:40px;width:40px;background-position:-165px 0;}
.mac{height:60px;width:60px;background-position:-216px 0;}
.window{height:60px;width:60px;background-position:-290px 0;}

.title24{
	text-align: center;
	font-size: 24px;
	color: #1eb59b;
	margin-top: 100px;
	margin-bottom: 90px;
}
.result{
	margin-bottom: 25px;
	list-style: none;
	color: #333;
}
.result li{
	float: left;
}
.result li.r-right{
    line-height: 40px;
    padding: 0 18px;
    font-size: 18px;
}
.clearfix:after {
	display: block;
	content: "";
	height: 0;
	clear: both;
}
/*testing2所用样式*/
.rr-right {
	padding: 0 18px;
	width: 644px;
	line-height: 40px;
    font-size: 18px;
}
.start {
	display: inline-block;
	margin: 0 16px;
	width: 78px;
	height: 20px;
	line-height: 20px;
	color: #fff;
    font-size: 14px;
    border: 1px solid #16a18c;
    border-radius: 4px;
	background-color: #24b79d;
	text-align: center;
   
}
.rrr-right {
	padding: 0 56px;
	width: 644px;
	line-height: 32px;
	font-size:16px;
}
.speakContent {
	margin-left: 56px;
	padding: 10px 6px;
    background-color: #f6f6f8;
    text-align: center;
}
.mirophone {
    display: inline-block;
    width: 420px;
    vertical-align: middle;
}
.mirophone .mirophoneEnTips {
    color: #000;
    font-size: 30px;
}
.mirophone li {
    display: inline-block;
    margin-bottom: 8px;
}
.mirophone .mirophoneOption {
    width: 145px;
    height: 28px;
    margin: 12px 0 0 5px;
}
.mirophone li {
    display: inline-block;
    margin-bottom: 8px;
}
.mirophone .mirophoneChTips {
    position: relative;
    width: 425px;
    height: 28px;
    color: red;
    border: 1px solid #c3c0b9;
}
.lightBlue {
    opacity: .2;
}
.record-volume-bar {
    height: 100%;
    width: 0;
    background: #026aae;
}
.mirophone .mirophoneChTips{
	color: red;
}
.mirophone .mirophoneChTips .microphoneTip {
    position: absolute;
    left: 0;
    top: 0;
}
.controlButton {
    display: inline-block;
    width: 250px;
    vertical-align: middle;
}
.controlButton .butBig {
    width: 138px;
    height: 30px;
}
.controlButton li {
    display: inline-block;
    margin: 0 0 8px 13px;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    color: #000;
    border: 1px solid #000;
    background: #cfcbc6;
    cursor: pointer;
}
.controlButton .butInvalid {
    color: #aba7a2;
    background: #edecea;
    border: 1px solid #c3c0b9;
}
.controlButton .butSmall {
    width: 76px;
    height: 30px;
}
.controlButton .butBig {
    width: 138px;
    height: 30px;
}
.controlButton .butSmall {
    width: 76px;
    height: 30px;
}